
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_1.css" type="text/css" />
		<title> Burger Heaven!</title>
		<script src="/assets/js/index.js"></script>
	</head>
	<body>
		
		{{{ body }}}
	</body>
</html>
