<h1>I pity the fool who doesnt eat these burgers!</h1>


<div class="right"
<ul>
    {{#each burgers}}
    {{#unless devoured}}
     {{> burgerz/burger-block sleep=true}}
    {{/unless}}
    {{/each}}
</ul>
</div>

<div class="left"
<ul>
    {{#each burgers}}
    {{#if devoured}}
 {{> burgerz/burger-block sleep=false}}
    {{/if}}
    {{/each}}
</ul>
</div>
<h2>What do you want? </h2>
<form id="create-form">

    <div class="form-group" id="burg"
        <label for="ca">Burger name:</label>
        <input type="text" id="ca" name="burger_name">
    </div>

    <div class="form-group" id="cheese">
        {{!-- <label for="devoured">Was it worth the calories?</label> --}}
       <input type="radio" name="devoured" value="1" id="devoured"
        <input type="radio" name="devoured" value="0" id="yuck"> 
        <button type="submit" id="button" >Add burger</button>
    </div>


</form>